body{
	background-image: url('D:/project/htmlCss/img/background.jpg');
	font-family: Arial;
}
.pane {
	width: 250px;
	border-style: solid;
  border-color: #7C2A2A;
  border-width : 1 px;
  background-color : #D4A269;
  padding: 30px; 
  margin-bottom : 30px;
  margin-left : 30px;
  border-top-left-radius: 20px;
  
}
#showoff {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 20px;
	box-shadow: 10px 10px 5px darkgray;
}
